[submodule ".registry"]
	path = .registry
	url = https://github.com/bips-hb/bips-hb.r-universe.dev
	branch = HEAD
[submodule "arf"]
	path = arf
	url = https://github.com/bips-hb/arf
[submodule "batchlasso"]
	path = batchlasso
	url = https://github.com/bips-hb/batchlasso
[submodule "blockForest"]
	path = blockForest
	url = https://github.com/bips-hb/blockForest
[submodule "cpi"]
	path = cpi
	url = https://github.com/bips-hb/cpi
[submodule "innsight"]
	path = innsight
	url = https://github.com/bips-hb/innsight
[submodule "micd"]
	path = micd
	url = https://github.com/bips-hb/micd
[submodule "neuralnet"]
	path = neuralnet
	url = https://github.com/bips-hb/neuralnet
[submodule "pvm"]
	path = pvm
	url = https://github.com/bips-hb/pvm
[submodule "srsim"]
	path = srsim
	url = https://github.com/bips-hb/srsim
[submodule "survnet"]
	path = survnet
	url = https://github.com/bips-hb/survnet
[submodule "tpc"]
	path = tpc
	url = https://github.com/bips-hb/tpc
